@import 'vendors/bootstrap';
@import 'vendors/font-awesome/scss/font-awesome';
$brand-color: #0E91D7;
header {
    margin-top: 2rem;
    #loginSection {
        background-color: $brand-color;
        padding: 0.6rem;
        border-radius: 0.5rem;
        color: white;
        input {
            border-radius: 0.3rem;
            width: 100%;
        }
    }
}

nav {
    background-color: #d0d3d8;
    margin-top: 0.6rem;
    margin-bottom: 0.6rem;
    a {
    	color: #888e99 !important;
    }
    button {
        border: 1px solid #888e99 !important;
        background-color: #d1d3d6 !important;
        i {
            color: #888e99;
        }
    }
    .navbar-default .navbar-nav > li > a:hover,
    .navbar-default .navbar-nav > li > a:focus {
        font-weight: 900 !important;
        color: $brand-color !important;
    }
}
